.works {
    @include flex_row;
    position: relative;
    width: 100%;
    height: 100%;
    * {
        padding: 0;
        margin: 0;
    }
    .scroll_sign {
        @media (max-width: 1200px) {
            transform: scale(0.9) translateY(-20px);
        }
        @media (max-width: 700px) {
            transform: scale(0.7) translateY(-50px);
        }
        @media (max-width: 500px) {
            transform: scale(0.6) translateY(-100px);
            left: 2vw;
        }
        opacity: 0;
        position: absolute;
        left: 5vw;
        transform: translateY(-20px);
        @include flex_col;
        gap: 10px;
        z-index: 5;
        border: solid 2px $color_pri_d2;
        padding: 15px 5px;
        border-radius: 100px;
        transition: top 0.3s;
        * {
            background-color: $color_pri_d2;
        }
        .up {
            width: 30px;
            height: 0px;
            clip-path: polygon(50% 0, 50% 0, 100% 100%, 0 100%);
            animation: works_scroll_sign_up 0.5s alternate infinite;
            transition: opacity 0.3s, height 0.3s;
        }
        .bar {
            width: 8px;
            height: 50px;
            border-radius: 100px;
        }
        .down {
            width: 30px;
            height: 17px;
            clip-path: polygon(0 0, 100% 0, 50% 100%, 50% 100%);
            animation: works_scroll_sign_down 0.5s alternate infinite;
            transition: opacity 0.3s, height 0.3s;
        }
    }
    .box_container {
        @media (max-width: 500px) {
            height: 100%;
            padding: 20px 0 5px 0;
            gap: 15px;
        }
        position: relative;
        width: 100%;
        height: 80%;
        @include flex_col(flex-start, flex-end);
        gap: 30px;
        overflow-y: hidden;
        padding: 5px 0;
        * {
            font-family: $font_sec_1;
            color: $color_pri_d1;
        }
        &::-webkit-scrollbar {
            display: none; /* Hide the scrollbar on webkit-based browsers */
        }
        .box {
            @media (max-width: 1200px) {
                height: 45%;
            }
            @media (max-width: 700px) {
            }
            @media (max-width: 500px) {
                height: auto;
                width: 80%;
                @include flex_col(space-between, center);
            }
            opacity: 0;
            position: relative;
            width: 72%;
            height: 35%;
            background-color: $color_pri_l2;
            flex-shrink: 0;
            overflow: hidden;
            @include flex_row(space-between, center);
            border-radius: 30px;
            transition: box-shadow 0.3s;
            &:hover {
                box-shadow: 0px 0px 15px $color_sec_d2;
            }
            .left {
                @media (max-width: 500px) {
                    height: 10%;
                    width: 100%;
                    clip-path: none;
                }
                position: relative;
                width: 10%;
                height: 100%;
                overflow: hidden;
                clip-path: polygon(0 0, 100% 0, 30% 100%, 0 100%);
                img {
                    position: absolute;
                    transform-origin: left top;
                    &:first-child {
                        animation: works_box_left_img_right 30s infinite linear;
                        // transform: scale(0.4) translateX(0%);
                    }
                    &:last-child {
                        animation: works_box_left_img_left 30s infinite linear;
                        // transform: scaleX(-0.4) scaleY(0.4) translateX(-200%);
                    }
                }
            }
            .mid {
                @media (max-width: 1200px) {
                    @include flex_col(flex-start, center);
                }
                @media (max-width: 500px) {
                    height: auto;
                    width: 100%;
                    @include flex_col(flex-start, center);
                }
                height: 100%;
                width: 55%;
                @include flex_row;
                .left_text {
                    @media (max-width: 1200px) {
                        @include flex_row;
                        width: 100%;
                        height: 35%;
                        margin-top: 15px;
                        gap: 20px;
                    }
                    @media (max-width: 500px) {
                        height: auto;
                        width: 100%;
                        margin: 0 0 20px 0;
                        gap: 5px;
                    }
                    height: 100%;
                    @include flex_col;
                    gap: 10px;
                    width: 45%;
                    .no {
                        @media (max-width: 1200px) {
                            font-size: 2rem;
                        }
                        @media (max-width: 700px) {
                            font-size: 1.6rem;
                        }
                        @media (max-width: 500px) {
                            font-size: 1.2rem;
                        }
                        font-size: 3rem;
                        font-weight: 700;
                    }
                    .box_title {
                        @media (max-width: 1200px) {
                            font-size: 1.4rem;
                            line-height: 1.6rem;
                        }
                        @media (max-width: 700px) {
                            font-size: 1.2rem;
                            line-height: 1.4rem;
                        }
                        @media (max-width: 500px) {
                            font-size: 1.2rem;
                            line-height: 1.2rem;
                        }
                        font-size: 1.6rem;
                        text-transform: capitalize;
                        text-align: center;
                        line-height: 2rem;
                    }
                }
                .desc {
                    @media (max-width: 1200px) {
                        width: 100%;
                    }
                    @media (max-width: 500px) {
                        font-size: 1rem;
                        line-height: 1.2rem;
                    }

                    font-size: 1rem;
                    padding: 0 10px 0 25px;
                    line-height: 1.5rem;
                    text-align: center;
                    width: 55%;
                }
            }
            .right {
                @media (max-width: 500px) {
                    height: 20%;
                    width: 100%;
                    clip-path: none;
                }
                height: 100%;
                width: 35%;
                clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
    h1 {
        @media (max-width: 1200px) {
            font-size: 4rem;
            line-height: 4rem;
        }
        @media (max-width: 700px) {
            font-size: 3rem;
            line-height: 3rem;
        }
        @media (max-width: 500px) {
            font-size: 2.5rem;
            line-height: 2.5rem;
            bottom: 20px;
        }

        position: absolute;
        // right: 60px;
        // bottom: 70px;
        font-size: 5rem;
        color: $color_pri_d1;
        text-align: center;
        line-height: 5rem;
        opacity: 0;
        right: 3vw;
        bottom: 70px;
        z-index: 5;
    }
}

@keyframes works_scroll_sign_up {
    0% {
        transform: translateY(-3px);
    }
    100% {
        transform: translateY(2px);
    }
}

@keyframes works_scroll_sign_down {
    0% {
        transform: translateY(3px);
    }
    100% {
        transform: translateY(-2px);
    }
}

@keyframes works_box_left_img_right {
    0% {
        transform: scale(0.4) translateX(0);
    }
    50% {
        transform: scale(0.4) translateX(100%);
    }
    50.001% {
        transform: scale(0.4) translateX(-100%);
    }
    100% {
        transform: scale(0.4) translateX(0);
    }
}

@keyframes works_box_left_img_left {
    0% {
        transform: scaleX(-0.4) scaleY(0.4) translateX(0);
    }
    50% {
        transform: scaleX(-0.4) scaleY(0.4) translateX(-100%);
    }
    100% {
        transform: scaleX(-0.4) scaleY(0.4) translateX(-200%);
    }
}

@keyframes works_h1 {
    0% {
        opacity: 0;
        font-size: 7rem;
        line-height: 8rem;
        color: $color_sec;
        transform: translate(50%, 50%);
        right: 50%;
        bottom: 50%;
    }
    30% {
        opacity: 1;
        font-size: 7rem;
        line-height: 8rem;
        color: $color_sec;
        transform: translate(50%, 50%);
        right: 50%;
        bottom: 50%;
    }
    100% {
        opacity: 1;
    }
}

@keyframes works_box {
    0% {
        transform: translateX(-150%);
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes works_scroll_sign {
    100% {
        opacity: 1;
    }
}

@keyframes works_box_container {
    100% {
        overflow-y: scroll;
    }
}
