.contact {
    @include flex_col;
    position: relative;
    width: 100%;
    height: 100%;
    * {
        padding: 0;
        margin: 0;
    }

    h1 {
        @media (max-width: 1200px) {
            font-size: 6vw;
            transform: translate(-25vw, calc(-15vw - 0px));
        }
        @media (max-width: 700px) {
            font-size: 11vw;
            top: 20px;
            left: 15px;
            transform: translate(0, 0);
        }
        @media (min-height: 1000px) and (max-width: 900px) {
            font-size: 10vw;
            top: 20px;
            left: 50px;
            transform: translate(0, 0);
        }
        position: relative;
        z-index: 5;
        font-size: 5rem;
        color: $color_pri_d1;
        position: absolute;
        opacity: 0;
        transform: translate(-22vw, calc(-10vw - 40px));
    }
    .contact_container {
        @media (max-width: 1200px) {
            width: calc(70vw + 150px);
            height: calc(30vw + 20px);
        }
        @media (max-width: 700px) {
            position: absolute;
            width: 32vh;
            height: auto;
            @include flex_col(flex-end, flex-end);
            top: 2.5vh;
            right: 15px;
        }
        @media (min-height: 1000px) and (max-width: 900px) {
            position: absolute;
            width: 32vh;
            height: auto;
            @include flex_col(flex-end, flex-end);
            top: 5vh;
            right: 12vw;
        }
        opacity: 0;
        * {
            font-family: $font_sec_1;
        }
        @include flex_row(flex-end, center);
        background-color: $color_pri_l2;
        width: calc(32vw + 500px);
        height: calc(20vw + 90px);
        border-radius: 30px;
        margin-top: 30px;
        .email_address {
            @media (max-width: 700px) {
                height: auto;
                padding-top: 20px;
            }
            @media (min-height: 1000px) and (max-width: 900px) {
                height: auto;
                padding-top: 20px;
            }
            position: relative;
            height: 100%;
            @include flex_col(flex-end, center);
            overflow: hidden;
            h2 {
                @media (max-width: 1200px) {
                    font-size: calc(12vw - 40px);
                    line-height: calc(12vw - 40px);
                }
                @media (max-width: 700px) {
                    font-size: 6vh;
                    line-height: 6vh;
                }
                @media (min-height: 1000px) and (max-width: 900px) {
                    font-size: 6vh;
                    line-height: 6vh;
                }
                opacity: 0;
                text-align: right;
                font-size: 7.5vw;
                line-height: 7.5vw;
                color: $color_pri_d2;
                margin: 10px;
                user-select: text;
                transition: all 0.5s;
                &::selection {
                    background-color: $color_sec;
                    color: #ffffff;
                }
                &:hover {
                    color: $color_sec_l2;
                }
            }
        }
        .message_box {
            @media (max-width: 700px) {
                position: absolute;
                top: calc(20vh - 10px);
                right: 15vw;
            }
            @media (min-height: 1000px) and (max-width: 900px) {
                position: absolute;
                top: calc(15vh + 40px);
                right: 9vw;
            }
            position: relative;
            @include flex_col;
            margin-bottom: 50px;
            h3 {
                @media (max-width: 1200px) {
                    font-size: 1.4rem;
                }
                @media (max-width: 700px) {
                    font-size: 1.2rem;
                    padding-right: 60px;
                }
                @media (min-height: 1000px) and (max-width: 900px) {
                    font-size: 1.8rem;
                }
                opacity: 0;
                color: $color_sec_d3;
                font-size: 1.8rem;
                margin-bottom: 5px;
            }
            .form_container {
                @media (max-width: 700px) {
                    width: 70vw;
                    border-radius: 15px;
                    padding: 5px;
                }
                @media (min-height: 1000px) and (max-width: 900px) {
                    width: 60vw;
                    border-radius: 25px;
                    padding: 10px;
                }
                opacity: 0;
                position: relative;
                width: 370px;
                overflow: hidden;
                border-radius: 30px;
                @include flex_col;
                padding: 10px;
                .sended {
                    position: absolute;
                    width: calc(100% - 20px);
                    height: calc(100% - 90px);
                    top: 10px;
                    background-color: $color_sec_l3;
                    z-index: 5;
                    border-radius: 20px;
                    border: solid 3px $color_sec_d2;
                    @include flex_col;
                    line-height: 2.6rem;
                    opacity: 0;
                    .notice {
                        color: $color_sec_d3;
                        text-align: center;
                        font-size: 1.5rem;
                        opacity: 0;
                        position: relative;
                        z-index: 5;
                    }
                    .smile_icon {
                        width: 150px;
                        margin-top: 10px;
                        opacity: 0;
                        position: relative;
                        z-index: 5;
                    }
                    .loading_icon {
                        position: absolute;
                        width: 50px;
                    }
                }
                %input {
                    @media (max-width: 700px) {
                        height: 6vh;
                        border-radius: 10px;
                        font-size: 1rem;
                        padding: 2px 0 0 10px;
                    }
                    @media (min-height: 1000px) and (max-width: 900px) {
                        height: 6vh;
                        border-radius: 15px;
                        font-size: 1.4rem;
                        padding: 2px 0 0 10px;
                    }
                    width: 100%;
                    height: 60px;
                    border-radius: 20px;
                    border: solid 0px transparent;
                    background-color: #ffffffbb;
                    padding: 2px 0 0 20px;
                    font-size: 1.2rem;
                    font-weight: 700;
                    color: $color_pri_d2;
                    transition: all 0.5s;
                    caret-color: $color_pri_d3;
                    &:focus {
                        outline: none;
                        background-color: #ffffffee;
                    }
                    &::placeholder {
                        color: $color_pri_d2;
                        opacity: 0.7;
                    }
                }
                form {
                    @media (max-width: 700px) {
                        gap: 5px;
                    }
                    @media (min-height: 1000px) and (max-width: 900px) {
                        gap: 10px;
                    }
                    @include flex_col;
                    gap: 10px;
                    z-index: 5;
                    position: relative;
                    width: 100%;
                    height: 100%;
                    .name {
                        @extend %input;
                    }
                    .email {
                        @extend %input;
                    }
                    .message {
                        @media (max-width: 700px) {
                            height: calc(50vh - 170px);
                            padding-top: 8px;
                        }
                        @media (min-height: 1000px) and (max-width: 900px) {
                            height: calc(45vh - 220px);
                            padding-top: 17px;
                        }
                        @extend %input;
                        height: 300px;
                        padding-top: 20px;
                        line-height: 1.5rem;
                    }
                    .submit {
                        @media (max-width: 700px) {
                            font-size: 1rem;
                        }
                        @media (min-height: 1000px) and (max-width: 900px) {
                            font-size: 1.6rem;
                        }
                        @extend %input;
                        color: $color_sec_d3;
                        font-size: 1.6rem;
                        text-transform: uppercase;
                        background-color: $color_sec_l3;
                        transition: all 0.3s;
                        border: solid 3px white;
                        padding: 2px 0 0 0;
                        transition: all 0.3s;
                        &:hover {
                            border: solid 3px $color_sec_d2;
                            font-size: 1.8rem;
                        }
                        &:active {
                            font-size: 1.6rem;
                            transition: all 0.1s;
                        }
                    }
                }
                .form_background_img {
                    position: absolute;
                    animation: form_img 100s infinite linear;
                    @media (min-height: 1000px) and (max-width: 900px) {
                        animation: form_img_2 100s infinite linear;
                    }
                    @keyframes form_img {
                        0% {
                            transform: rotate(0deg) scale(0.6);
                        }
                        100% {
                            transform: rotate(-360deg) scale(0.6);
                        }
                    }
                    @keyframes form_img_2 {
                        0% {
                            transform: rotate(0deg) scale(0.8);
                        }
                        100% {
                            transform: rotate(-360deg) scale(0.8);
                        }
                    }
                }
            }
        }
        .smp_box {
            position: relative;
            @media (max-width: 700px) {
                margin-bottom: 20px;
                height: auto;
            }
            @media (min-height: 1000px) and (max-width: 900px) {
                margin-bottom: 20px;
                height: auto;
            }
            height: 100%;
            margin-bottom: 50px;
            overflow: hidden;
            @include flex_col(flex-end, center);
            .icon_container {
                opacity: 0;
                @include flex_col;
                .icon {
                    @media (max-width: 1200px) {
                        width: 35px;
                        margin: 5px 15px;
                    }
                    @media (max-width: 700px) {
                        width: 30px;
                        margin: 3px 15px;
                    }
                    @media (min-height: 1000px) and (max-width: 900px) {
                        width: 40px;
                        margin: 10px 15px;
                    }
                    width: 40px;
                    margin: 10px 20px;
                    transition: all 0.3s;
                    &:hover {
                        transform: scale(1.15);
                    }
                }
            }
        }
    }
}
@keyframes contact_h1 {
    0% {
        opacity: 0;
        transform: translate(0px, 0px);
        color: #ffffff;
    }
    30% {
        opacity: 1;
        transform: translate(0px, 0px);
        color: #ffffff;
    }
    100% {
        opacity: 1;
    }
}

@keyframes contact_container {
    0% {
        opacity: 0;
        width: 2000px;
        height: 120px;
        margin-top: 0px;
        background-color: $color_sec;
    }
    50% {
        opacity: 1;
        width: 2000px;
        height: 120px;
        margin-top: 0px;
        background-color: $color_sec;
    }
    100% {
        opacity: 1;
    }
}

@keyframes contact_form_container {
    0% {
        opacity: 1;
        // transform: translate(0px, 620px);
        margin-top: 1500px;
    }
    100% {
        opacity: 1;
    }
}

@keyframes contact_h3 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes contact_h3_move {
    0% {
    }
    100% {
        transform: translateY(-5px);
    }
}
@keyframes contact_h2 {
    0% {
        opacity: 0.4;
        transform: translateX(100%);
    }
    100% {
        opacity: 0.4;
        transform: translateX(0%);
    }
}
@keyframes contact_icon {
    0% {
        opacity: 1;
        transform: translateX(-150%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}
@keyframes contact_sended {
    0% {
        z-index: 6;
        opacity: 0;
    }
    5% {
        z-index: 6;
        opacity: 1;
    }
    90% {
        z-index: 6;
        opacity: 1;
    }
    100% {
        z-index: 5;
        opacity: 0;
    }
}

@keyframes contact_loading_icon {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
@keyframes contact_smile_icon {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@keyframes contact_notice {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
