.background {
    position: absolute;
    top: 10;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -5;
    .bg_img {
        height: 100%;
        width: 100%;
        overflow: hidden;
        @include flex_col;
        img {
            @media (max-width: 700px) {
                width: 1900px;
            }
            width: 2500px;
            object-fit: cover;
            filter: blur(3px) brightness(0.3);
        }
    }
}
