main {
    @include flex_col;
    background-color: $color_pri_l1;
    // margin: 0 20px;
    width: 90%;
    height: 75%;
    border-radius: 10px;
    opacity: 0.7;
    .content {
        padding: 20px;
    }
}

@keyframes main_change {
    20% {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
}
