main {
    @include flex_col;
    background-color: rgba($color_pri_l1, 0.3);
    // margin: 0 20px;
    width: 90%;
    height: 75%;
    border-radius: 10px;
    .content {
        height: 100%;
        width: 100%;
    }
}

@keyframes main_change {
    20% {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
}
