@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500;700&family=Josefin+Slab:wght@200;500;700&family=Lora:wght@400;500;600;700&display=swap");
nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
nav .link_container {
  width: 80px;
  height: 80px;
  margin: 0 3vw;
  border-radius: 50%;
  position: relative;
  transition: all 0.3s;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
nav .link_container:hover {
  transform: scale(1.1);
}
nav .link_container:active {
  transition: all 0.1s;
  transform: scale(1);
}
nav .link_container .link {
  position: absolute;
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: solid #61af80 1.5px;
  color: #39473f;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  padding-top: 0px;
  text-transform: capitalize;
  transition: all 0.3s;
  transition: color 0.3s 0.8s;
  opacity: 1;
}
nav .link_container .link.page_now {
  background-color: transparent;
  color: white;
  -webkit-animation: link_border 2s;
          animation: link_border 2s;
}
nav .link_container .link_bg {
  width: inherit;
  height: inherit;
  border-radius: 50%;
  background-color: #61af80;
  opacity: 0;
  position: absolute;
  z-index: -2;
}
nav .fake_main_curtain {
  position: absolute;
  top: 160px;
  width: 90vw;
  height: 75vh;
  border-radius: 10px;
  z-index: -1;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
nav .fake_main_in {
  position: absolute;
  top: 160px;
  width: 90vw;
  height: 75vh;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  z-index: -2;
  overflow: hidden;
}
nav .fake_main_in .link_bg_in {
  width: 80px;
  height: 80px;
  margin: 0 3vw;
  border-radius: 50%;
  position: relative;
  background-color: #61af80;
  top: -120px;
  opacity: 0;
}
nav .fake_main_out {
  position: absolute;
  top: 160px;
  width: 90vw;
  height: 75vh;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  z-index: -2;
  overflow: hidden;
}
nav .fake_main_out .link_bg_out {
  width: 80px;
  height: 80px;
  margin: 0 3vw;
  border-radius: 50%;
  position: relative;
  background-color: #61af80;
  top: -120px;
  opacity: 0;
}

@-webkit-keyframes link_border {
  0% {
    border: solid transparent 1.5px;
  }
  35% {
    border: solid transparent 1.5px;
    width: 120px;
    height: 120px;
  }
  70% {
    border: solid #61af80 1.5px;
  }
}

@keyframes link_border {
  0% {
    border: solid transparent 1.5px;
  }
  35% {
    border: solid transparent 1.5px;
    width: 120px;
    height: 120px;
  }
  70% {
    border: solid #61af80 1.5px;
  }
}
@-webkit-keyframes link_bg {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes link_bg {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.8;
  }
}
@-webkit-keyframes link_in {
  0% {
    transform: translate(0, 0px);
    opacity: 0.8;
  }
  40% {
    transform: translate(0, 0px) scale(1.3);
    opacity: 0.8;
  }
  60% {
    transform: translate(0, 430px) scale(1.3);
    opacity: 0.8;
  }
  100% {
    transform: translate(0, 700px) scale(35);
    opacity: 0.8;
  }
}
@keyframes link_in {
  0% {
    transform: translate(0, 0px);
    opacity: 0.8;
  }
  40% {
    transform: translate(0, 0px) scale(1.3);
    opacity: 0.8;
  }
  60% {
    transform: translate(0, 430px) scale(1.3);
    opacity: 0.8;
  }
  100% {
    transform: translate(0, 700px) scale(35);
    opacity: 0.8;
  }
}
@-webkit-keyframes link_out {
  0% {
    transform: translate(0, 700px) scale(35);
    opacity: 0.8;
  }
  50% {
    transform: translate(0, 430px);
    opacity: 0.8;
  }
  100% {
    transform: translate(0, 0px);
    opacity: 0.8;
  }
}
@keyframes link_out {
  0% {
    transform: translate(0, 700px) scale(35);
    opacity: 0.8;
  }
  50% {
    transform: translate(0, 430px);
    opacity: 0.8;
  }
  100% {
    transform: translate(0, 0px);
    opacity: 0.8;
  }
}
@-webkit-keyframes fake_main_in {
  0% {
    overflow: visible;
  }
  55% {
    overflow: visible;
  }
  56% {
    overflow: hidden;
  }
  100% {
    overflow: hidden;
  }
}
@keyframes fake_main_in {
  0% {
    overflow: visible;
  }
  55% {
    overflow: visible;
  }
  56% {
    overflow: hidden;
  }
  100% {
    overflow: hidden;
  }
}
@-webkit-keyframes fake_main_out {
  0% {
    overflow: hidden;
  }
  55% {
    overflow: hidden;
  }
  56% {
    overflow: visible;
  }
  100% {
    overflow: visible;
  }
}
@keyframes fake_main_out {
  0% {
    overflow: hidden;
  }
  55% {
    overflow: hidden;
  }
  56% {
    overflow: visible;
  }
  100% {
    overflow: visible;
  }
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(205, 249, 223, 0.3);
  width: 90%;
  height: 75%;
  border-radius: 10px;
  overflow: hidden;
}
main .content {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 5;
  opacity: 1;
}
main .content .content_bg {
  height: 100%;
  width: 100%;
  background: linear-gradient(128deg, #f69337 0%, #cdf9df 25%, #cdf9df 75%, #61af80 100%);
  position: absolute;
  top: 0;
  z-index: -1;
  opacity: 0.7;
}

@-webkit-keyframes main_change {
  20% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
}

@keyframes main_change {
  20% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
}
.app {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

header {
  height: 160px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1rem;
  -webkit-backdrop-filter: blur(10px) brightness(0.8);
          backdrop-filter: blur(10px) brightness(0.8);
}

.background {
  position: absolute;
  top: 10;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -5;
}
.background .bg_img {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.background .bg_img img {
  width: 2030px;
  height: 1150px;
  -o-object-fit: cover;
     object-fit: cover;
  filter: blur(3px) brightness(0.3);
}

.cursor, .inner {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  pointer-events: none;
  -webkit-backdrop-filter: saturate(300%) hue-rotate(70deg) invert(100%);
          backdrop-filter: saturate(300%) hue-rotate(70deg) invert(100%);
  z-index: 100;
}

.inner {
  width: 28px;
  height: 28px;
  -webkit-backdrop-filter: saturate(35%) hue-rotate(305deg) invert(100%);
          backdrop-filter: saturate(35%) hue-rotate(305deg) invert(100%);
  z-index: 100;
}

.cursor_scale_ani {
  -webkit-animation: cursor_scale 1s ease-out;
          animation: cursor_scale 1s ease-out;
}

@-webkit-keyframes cursor_scale {
  0% {
    transform: scale(1);
  }
  17% {
    transform: scale(1.6);
  }
  34% {
    transform: scale(1);
  }
  51% {
    transform: scale(1.4);
  }
  68% {
    transform: scale(1);
  }
  85% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes cursor_scale {
  0% {
    transform: scale(1);
  }
  17% {
    transform: scale(1.6);
  }
  34% {
    transform: scale(1);
  }
  51% {
    transform: scale(1.4);
  }
  68% {
    transform: scale(1);
  }
  85% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.home {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.home .title {
  opacity: 0;
  z-index: 5;
  transition: opacity 1s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home .title * {
  padding: 0;
  margin: 0;
}
.home .title h1 {
  font-size: 6rem;
  color: #39473f;
  margin-top: -20px;
  font-weight: 400;
  padding-right: 50px;
}
.home .title h1 span {
  font-size: 6rem;
  color: #39473f;
}
.home .title h2 {
  font-size: 2rem;
  color: #39473f;
  font-family: "Comfortaa", cursive;
  font-weight: 300;
  padding-left: 400px;
}
.home .title_bg {
  content: "";
  width: 50%;
  height: 60%;
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  position: absolute;
  z-index: 1;
  border-radius: 20px;
  border: solid 2px rgba(57, 71, 63, 0.5);
  opacity: 0;
  transition: opacity 1s;
}
.home .bg {
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home .bg .circle_container_outter {
  position: absolute;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: transform 1s 1s, opacity 1s 0.5s;
}
.home .bg .circle_container_outter .circle_container {
  position: absolute;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: #bd5b00 0px 0px 10px 5px, inset #bd5b00 0px 0px 10px 5px;
}
.home .bg .circle_container_outter .circle_container .circle {
  width: 1000px;
  position: absolute;
}

@-webkit-keyframes circleSpinF {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes circleSpinF {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes circleSpinB {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes circleSpinB {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.about {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.about .slider {
  width: 90%;
  height: 90%;
  transition: transform 1s;
}
.about .slider .slide {
  width: 100%;
  height: 100%;
  margin-bottom: 100px;
  border: solid 2px #cdf9df;
  border-radius: 20px;
}
.about .slide_bar {
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.about .slide_bar .slide_bar_btn {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #5e7368;
  transition: background-color 0.5s, transform 0.3s;
}
.about .slide_bar .slide_bar_btn:hover {
  transform: scale(1.3);
}

.intro {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #39473f;
  padding-left: 50px;
  opacity: 0;
}
.intro * {
  font-family: "Comfortaa", cursive;
  margin: 0;
  padding: 0;
}
.intro .left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: right;
  text-align: right;
  padding-right: 50px;
  margin-top: -50px;
  overflow: hidden;
  position: relative;
}
.intro .left h1,
.intro .left h2,
.intro .left h3 {
  opacity: 0;
}
.intro .left h1 {
  font-size: 5rem;
  text-transform: uppercase;
  font-family: "Lora", serif;
  margin-bottom: 20px;
  position: relative;
}
.intro .left h2 {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 10px;
}
.intro .left h2 span {
  font-size: 2.6rem;
  color: #e66300;
  font-weight: 500;
}
.intro .left h3 {
  font-size: 1.2rem;
  font-weight: 500;
}
.intro .left h3 span {
  font-size: 1.5rem;
  font-weight: 700;
}
.intro .right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}
.intro .right .p_container {
  width: 470px;
  height: 500px;
  overflow: hidden;
  border: solid 2px #5e7368;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 0 50px;
  opacity: 0;
}
.intro .right .p_container p:first-child {
  padding-bottom: 20px;
}
.intro .right .p_container p {
  font-size: 1.2rem;
  line-height: 1.8rem;
}
.intro .circle_container_outter {
  position: absolute;
  width: 220px;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 70px;
  left: 610px;
  transform: translate(85px, 120px);
}
.intro .circle_container_outter .circle_container {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  border-radius: 50%;
  -webkit-animation: circle_spin 30s linear infinite;
          animation: circle_spin 30s linear infinite;
}
.intro .circle_container_outter .circle_container .circle {
  width: 1000px;
  position: absolute;
}

@-webkit-keyframes intro_start {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes intro_start {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes p_move {
  0% {
    width: 0;
    height: 0;
    padding: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes p_move {
  0% {
    width: 0;
    height: 0;
    padding: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes circle_spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes circle_spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes circle_move {
  0% {
    transform: translate(85px, 120px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes circle_move {
  0% {
    transform: translate(85px, 120px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@-webkit-keyframes h_move {
  0% {
    transform: translateX(100%);
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes h_move {
  0% {
    transform: translateX(100%);
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes h1_move {
  0% {
    transform: translateX(100%);
    opacity: 1;
  }
  65% {
    transform: translateX(-20%);
    z-index: 0;
  }
  66% {
    z-index: 1;
  }
  100% {
    opacity: 1;
    z-index: 1;
  }
}
@keyframes h1_move {
  0% {
    transform: translateX(100%);
    opacity: 1;
  }
  65% {
    transform: translateX(-20%);
    z-index: 0;
  }
  66% {
    z-index: 1;
  }
  100% {
    opacity: 1;
    z-index: 1;
  }
}
* {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Lora", serif;
  cursor: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
}/*# sourceMappingURL=index.css.map */