@import "preset";
@import "nav";
@import "main";
@import "app";
@import "header";
@import "footer";
@import "background";
@import "cursor";
@import "home/home";
@import "about/about";
@import "about/intro";
@import "about/skill";
@import "about/edu";
@import "about/exp";
@import "about/hobby";
@import "contact/contact";
@import "works/works";

* {
    box-sizing: border-box;
    font-size: 16px;
    font-family: $font_prim_2;
    cursor: none;
    user-select: none;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
}
