@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500;700&family=Josefin+Slab:wght@200;500;700&family=Lora:wght@400;500;600;700&display=swap");
nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
nav .link_container {
  width: 80px;
  height: 80px;
  margin: 0 3vw;
  border-radius: 50%;
  position: relative;
  transition: all 0.3s;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (max-width: 700px) or (max-height: 800px) {
  nav .link_container {
    width: 60px;
    height: 60px;
  }
}
nav .link_container:hover {
  transform: scale(1.1);
}
nav .link_container:active {
  transition: all 0.1s;
  transform: scale(1);
}
nav .link_container .link {
  position: absolute;
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: solid #61af80 1.5px;
  color: #39473f;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  padding-top: 0px;
  text-transform: capitalize;
  transition: all 0.3s;
  transition: color 0.3s 0.8s;
  opacity: 1;
}
@media (max-width: 700px) or (max-height: 800px) {
  nav .link_container .link {
    font-size: 0.9rem;
  }
}
nav .link_container .link.page_now {
  background-color: transparent;
  color: white;
  animation: link_border 2s;
}
nav .link_container .link_bg {
  width: inherit;
  height: inherit;
  border-radius: 50%;
  background-color: #61af80;
  opacity: 0;
  position: absolute;
  z-index: -2;
}
nav .fake_main_curtain {
  position: absolute;
  top: 160px;
  width: 90vw;
  height: 75vh;
  border-radius: 10px;
  z-index: -1;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
@media (max-width: 1200px) {
  nav .fake_main_curtain {
    width: 95vw;
  }
}
@media (max-width: 700px) {
  nav .fake_main_curtain {
    top: 100px;
    height: 83%;
  }
}
@media (max-height: 800px) {
  nav .fake_main_curtain {
    top: 100px;
    height: 80%;
  }
}
@media (max-height: 700px) {
  nav .fake_main_curtain {
    height: 78%;
  }
}
@media (min-height: 1000px) {
  nav .fake_main_curtain {
    height: 80%;
  }
}
nav .fake_main_in {
  position: absolute;
  top: 160px;
  width: 90vw;
  height: 75vh;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  z-index: -2;
  overflow: hidden;
}
@media (max-width: 1200px) {
  nav .fake_main_in {
    width: 95vw;
  }
}
@media (max-width: 700px) {
  nav .fake_main_in {
    top: 100px;
    height: 83%;
  }
}
@media (max-height: 800px) {
  nav .fake_main_in {
    top: 100px;
    height: 80%;
  }
}
@media (max-height: 700px) {
  nav .fake_main_in {
    height: 78%;
  }
}
@media (min-height: 1000px) {
  nav .fake_main_in {
    height: 80%;
  }
}
nav .fake_main_in .link_bg_in {
  width: 80px;
  height: 80px;
  margin: 0 3vw;
  border-radius: 50%;
  position: relative;
  background-color: #61af80;
  top: -120px;
  opacity: 0;
}
@media (max-width: 700px) or (max-height: 800px) {
  nav .fake_main_in .link_bg_in {
    width: 60px;
    height: 60px;
    top: -80px;
  }
}
nav .fake_main_out {
  position: absolute;
  top: 160px;
  width: 90vw;
  height: 75vh;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  z-index: -2;
  overflow: hidden;
}
@media (max-width: 1200px) {
  nav .fake_main_out {
    width: 95vw;
  }
}
@media (max-width: 700px) {
  nav .fake_main_out {
    top: 100px;
    height: 83%;
  }
}
@media (max-height: 800px) {
  nav .fake_main_out {
    top: 100px;
    height: 80%;
  }
}
@media (max-height: 700px) {
  nav .fake_main_out {
    height: 78%;
  }
}
@media (min-height: 1000px) {
  nav .fake_main_out {
    height: 80%;
  }
}
nav .fake_main_out .link_bg_out {
  width: 80px;
  height: 80px;
  margin: 0 3vw;
  border-radius: 50%;
  position: relative;
  background-color: #61af80;
  top: -120px;
  opacity: 0;
}
@media (max-width: 700px) or (max-height: 800px) {
  nav .fake_main_out .link_bg_out {
    width: 60px;
    height: 60px;
    top: -80px;
  }
}

@keyframes link_border {
  0% {
    border: solid transparent 1.5px;
  }
  35% {
    border: solid transparent 1.5px;
    width: 120px;
    height: 120px;
  }
  70% {
    border: solid #61af80 1.5px;
  }
}
@keyframes link_bg {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes link_in {
  0% {
    transform: translate(0, 0px);
    opacity: 0.8;
  }
  40% {
    transform: translate(0, 0px) scale(1.3);
    opacity: 0.8;
  }
  60% {
    transform: translate(0, 430px) scale(1.3);
    opacity: 0.8;
  }
  100% {
    transform: translate(0, 700px) scale(35);
    opacity: 0.8;
  }
}
@keyframes link_out {
  0% {
    transform: translate(0, 700px) scale(35);
    opacity: 0.8;
  }
  50% {
    transform: translate(0, 430px);
    opacity: 0.8;
  }
  100% {
    transform: translate(0, 0px);
    opacity: 0.8;
  }
}
@keyframes fake_main_in {
  0% {
    overflow: visible;
  }
  55% {
    overflow: visible;
  }
  56% {
    overflow: hidden;
  }
  100% {
    overflow: hidden;
  }
}
@keyframes fake_main_out {
  0% {
    overflow: hidden;
  }
  55% {
    overflow: hidden;
  }
  56% {
    overflow: visible;
  }
  100% {
    overflow: visible;
  }
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(205, 249, 223, 0.3);
  width: 90%;
  height: 75%;
  border-radius: 10px;
  overflow: hidden;
  position: absolute;
  top: 160px;
}
@media (max-width: 1200px) {
  main {
    width: 95%;
  }
}
@media (max-width: 700px) {
  main {
    height: 83%;
    top: 100px;
  }
}
@media (max-height: 800px) {
  main {
    height: 80%;
    top: 100px;
  }
}
@media (min-height: 1000px) {
  main {
    height: 80%;
  }
}
@media (max-height: 700px) {
  main {
    height: 78%;
  }
}
main .content {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 5;
  opacity: 1;
}
main .content .content_bg {
  height: 100%;
  width: 100%;
  background: linear-gradient(128deg, #f69337 0%, #cdf9df 25%, #cdf9df 75%, #61af80 100%);
  position: absolute;
  top: 0;
  z-index: -1;
  opacity: 0.7;
}

@keyframes main_change {
  20% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
}
.app {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

header {
  height: 160px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (max-width: 700px) or (max-height: 800px) {
  header {
    height: 100px;
  }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1rem;
  -webkit-backdrop-filter: blur(10px) brightness(0.8);
          backdrop-filter: blur(10px) brightness(0.8);
}

.background {
  position: absolute;
  top: 10;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -5;
}
.background .bg_img {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.background .bg_img img {
  width: 2500px;
  -o-object-fit: cover;
     object-fit: cover;
  filter: blur(3px) brightness(0.3);
}
@media (max-width: 700px) {
  .background .bg_img img {
    width: 1900px;
  }
}

.cursor, .inner {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  pointer-events: none;
  -webkit-backdrop-filter: saturate(300%) hue-rotate(70deg) invert(100%);
          backdrop-filter: saturate(300%) hue-rotate(70deg) invert(100%);
  z-index: 100;
}

.inner {
  width: 28px;
  height: 28px;
  -webkit-backdrop-filter: saturate(35%) hue-rotate(305deg) invert(100%);
          backdrop-filter: saturate(35%) hue-rotate(305deg) invert(100%);
  z-index: 100;
}

.cursor_scale_ani {
  animation: cursor_scale 1s ease-out;
}

@keyframes cursor_scale {
  0% {
    transform: scale(1);
  }
  17% {
    transform: scale(1.6);
  }
  34% {
    transform: scale(1);
  }
  51% {
    transform: scale(1.4);
  }
  68% {
    transform: scale(1);
  }
  85% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.home {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.home .title {
  width: 900px;
  opacity: 0;
  z-index: 5;
  transition: opacity 1s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1200px) {
  .home .title {
    width: 80%;
  }
}
@media (max-width: 700px) {
  .home .title {
    width: 90%;
  }
}
.home .title * {
  padding: 0;
  margin: 0;
}
.home .title h1 {
  font-size: 6rem;
  color: #39473f;
  margin-top: -20px;
  font-weight: 400;
  padding-right: 50px;
}
@media (max-width: 1200px) {
  .home .title h1 {
    font-size: 5rem;
  }
}
@media (max-width: 700px) {
  .home .title h1 {
    font-size: 15vw;
    padding-right: 5%;
  }
}
.home .title h2 {
  font-size: 2rem;
  color: #39473f;
  font-family: "Comfortaa", cursive;
  font-weight: 300;
  padding-left: 400px;
}
@media (max-width: 1200px) {
  .home .title h2 {
    font-size: 1.8rem;
    padding-left: 300px;
  }
}
@media (max-width: 700px) {
  .home .title h2 {
    font-size: 6vw;
    padding-left: 55%;
  }
}
.home .title_bg {
  content: "";
  width: 900px;
  height: 60%;
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  position: absolute;
  z-index: 1;
  border-radius: 20px;
  border: solid 2px rgba(57, 71, 63, 0.5);
  opacity: 0;
  transition: opacity 1s;
}
@media (max-width: 1200px) {
  .home .title_bg {
    width: 80%;
  }
}
@media (max-width: 700px) {
  .home .title_bg {
    width: 90%;
  }
}
.home .bg {
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home .bg .circle_container_outter {
  position: absolute;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: transform 1s 1s, opacity 1s 0.5s;
}
.home .bg .circle_container_outter .circle_container {
  position: absolute;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: #bd5b00 0px 0px 10px 5px, inset #bd5b00 0px 0px 10px 5px;
}
.home .bg .circle_container_outter .circle_container .circle {
  width: 1000px;
  position: absolute;
}

@keyframes circleSpinF {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes circleSpinB {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.about {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.about .slider {
  width: 90%;
  height: 90%;
  transition: transform 1s;
}
.about .slider .slide {
  width: 100%;
  height: 100%;
  margin-bottom: 100px;
  border-radius: 20px;
}
.about .slide_bar {
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.about .slide_bar .slide_bar_btn {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #5e7368;
  transition: background-color 0.5s, transform 0.3s;
}
.about .slide_bar .slide_bar_btn:hover {
  transform: scale(1.3);
}

.about .intro {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #39473f;
  padding-left: 50px;
  opacity: 0;
}
.about .intro * {
  font-family: "Comfortaa", cursive;
  margin: 0;
  padding: 0;
}
.about .intro .left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: right;
  text-align: right;
  padding-right: 50px;
  margin-top: -30px;
  overflow: hidden;
  position: relative;
}
.about .intro .left h1,
.about .intro .left h2,
.about .intro .left h3 {
  opacity: 0;
}
.about .intro .left h1 {
  font-size: 5rem;
  text-transform: uppercase;
  font-family: "Lora", serif;
  margin-bottom: 20px;
  position: relative;
  font-weight: 600;
}
.about .intro .left h2 {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 10px;
}
.about .intro .left h2 span {
  font-size: 2.6rem;
  color: #e66300;
  font-weight: 500;
}
.about .intro .left h3 {
  font-size: 1.2rem;
  font-weight: 500;
}
.about .intro .left h3 span {
  font-size: 1.5rem;
  font-weight: 700;
}
.about .intro .right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}
.about .intro .right .p_container {
  width: 470px;
  height: 500px;
  overflow: hidden;
  background-color: #dcffea;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 0 50px;
  opacity: 0;
}
.about .intro .right .p_container p:first-child {
  padding-bottom: 20px;
}
.about .intro .right .p_container p {
  font-size: 1.2rem;
  line-height: 1.8rem;
}
.about .intro .circle_container_outter {
  position: absolute;
  width: 220px;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 90px;
  left: 610px;
  transform: translate(85px, 120px);
}
.about .intro .circle_container_outter .circle_container {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  border-radius: 50%;
  animation: circle_spin 30s linear infinite;
}
.about .intro .circle_container_outter .circle_container .circle {
  width: 1000px;
  position: absolute;
}
@keyframes intro_start {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes p_move {
  0% {
    width: 0;
    height: 0;
    padding: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes circle_spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes circle_move {
  0% {
    transform: translate(85px, 120px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes h_move {
  0% {
    transform: translateX(100%);
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes h1_move {
  0% {
    transform: translateX(100%);
    opacity: 1;
  }
  65% {
    transform: translateX(-20%);
    z-index: 0;
  }
  66% {
    z-index: 1;
  }
  100% {
    opacity: 1;
    z-index: 1;
  }
}

.about * {
  padding: 0;
  margin: 0;
}
.about .skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about .skill .h1_container {
  overflow: hidden;
}
.about .skill .h1_container h1 {
  text-transform: uppercase;
  color: #39473f;
  font-size: 4.5rem;
  margin-top: 30px;
  opacity: 0;
}
.about .skill .h2_container {
  overflow: hidden;
}
.about .skill .h2_container h2 {
  color: #5e7368;
  font-size: 1.5rem;
  margin: 10px 0 40px 0;
  font-family: "Comfortaa", cursive;
  opacity: 0;
}
.about .skill .skill_bar_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transform-origin: center;
  opacity: 0;
}
.about .skill .skill_bar_container .plus {
  font-size: 3rem;
  color: #5e7368;
  font-family: "Comfortaa", cursive;
  margin: 15px;
}
.about .skill .skill_bar_container .skill_bar {
  border-radius: 100px;
  width: 60px;
  height: 350px;
  background-color: #dcffea;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.about .skill .skill_bar_container .skill_bar .progress_container {
  width: 75%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.about .skill .skill_bar_container .skill_bar .progress_container .progress_bar {
  background-color: #ffd5ae;
  width: 100%;
  overflow: hidden;
  border-radius: 100px;
  transition: height 2s 1.5s;
  position: relative;
}
.about .skill .skill_bar_container .skill_bar .progress_container .progress_bar .progress_img_1 {
  position: absolute;
  transform-origin: left top;
  transform: scale(0.3);
  top: 0;
  animation: progress_img_1 30s infinite linear;
}
.about .skill .skill_bar_container .skill_bar .progress_container .progress_bar .progress_img_2 {
  position: absolute;
  transform-origin: left top;
  transform: scale(0.3) scaleY(-100%) translateY(-200%);
  animation: progress_img_2 30s infinite linear;
}
.about .skill .skill_bar_container .skill_bar .skill_icon {
  margin: 10px 0 0 0;
  width: 35px;
  margin: 15px 0 15px 0;
}
.about .skill .skill_bar_container .skill_bar .skill_name {
  color: #5e7368;
  font-family: "Comfortaa", cursive;
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-bottom: 20px;
}

@keyframes skill_bar {
  100% {
    opacity: 1;
  }
}
@keyframes skill_h1 {
  0% {
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
  }
}
@keyframes h2 {
  0% {
    transform: translateY(-200%);
  }
  100% {
    opacity: 1;
  }
}
@keyframes progress_img_1 {
  0% {
    transform: scale(0.3) translateY(0%);
  }
  50% {
    transform: scale(0.3) translateY(-100%);
  }
  50.01% {
    transform: scale(0.3) translateY(100%);
  }
  100% {
    transform: scale(0.3) translateY(0%);
  }
}
@keyframes progress_img_2 {
  0% {
    transform: scale(0.3) scaleY(-100%) translateY(-200%);
  }
  50% {
    transform: scale(0.3) scaleY(-100%) translateY(-100%);
  }
  100% {
    transform: scale(0.3) scaleY(-100%) translateY(0%);
  }
}
.edu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.edu h1 {
  font-size: 5rem;
  color: #39473f;
  margin: 10px 0 0 500px;
  opacity: 0;
}
.edu .edu_bar_container {
  margin-top: 10px;
}
.edu .edu_bar_container .edu_bar:nth-child(1) .background {
  height: 110px;
  width: 1000px;
  top: -50px;
  left: 70px;
}
.edu .edu_bar_container .edu_bar {
  position: relative;
  margin-bottom: 30px;
}
.edu .edu_bar_container .edu_bar * {
  font-family: "Comfortaa", cursive;
  color: #5e7368;
}
.edu .edu_bar_container .edu_bar .front {
  width: 850px;
  height: 95px;
  background-color: #dcffea;
  border-radius: 100px;
  opacity: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.edu .edu_bar_container .edu_bar .front .left {
  width: 230px;
  height: 81px;
  margin: 7px;
  border: #f69337 solid 2px;
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.edu .edu_bar_container .edu_bar .front .left .p_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.edu .edu_bar_container .edu_bar .front .left .p_container .year {
  margin-top: 5px;
}
.edu .edu_bar_container .edu_bar .front .right {
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.edu .edu_bar_container .edu_bar .front .right .school {
  font-size: 1.2rem;
}
.edu .edu_bar_container .edu_bar .front .right .major {
  margin-top: 10px;
}
.edu .edu_bar_container .edu_bar .background {
  position: absolute;
  width: 850px;
  height: 95px;
  border-radius: 100px;
  top: -15px;
  left: 15px;
  overflow: hidden;
  opacity: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.edu .edu_bar_container .edu_bar .background img:nth-child(1) {
  transform-origin: left top;
  position: absolute;
  left: 0;
  animation: background_img_l 50s infinite linear;
}
.edu .edu_bar_container .edu_bar .background img:nth-child(2) {
  transform-origin: left top;
  position: absolute;
  left: 0;
  animation: background_img_r 50s infinite linear;
}

@keyframes edu_h1 {
  0% {
    transform: translateX(1500px);
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes front {
  0% {
    transform: translateX(1500px);
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes background {
  0% {
    transform: translateX(1500px);
    width: 2000px;
    opacity: 1;
  }
  75% {
    transform: translateX(0px);
  }
  100% {
    opacity: 1;
  }
}
@keyframes background_img_l {
  0% {
    transform: scale(0.6) translateX(0%);
  }
  50% {
    transform: scale(0.6) translateX(-100%);
  }
  50.01% {
    transform: scale(0.6) translateX(100%);
  }
  100% {
    transform: scale(0.6) translateX(0%);
  }
}
@keyframes background_img_r {
  0% {
    transform: scale(0.6) scaleX(-100%) translateX(-200%);
  }
  50% {
    transform: scale(0.6) scaleX(-100%) translateX(-100%);
  }
  100% {
    transform: scale(0.6) scaleX(-100%) translateX(0%);
  }
}
.exp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 50px;
}
.exp * {
  color: #5e7368;
}
.exp h1 {
  font-size: 5rem;
  color: #39473f;
  opacity: 0;
}
.exp .band {
  overflow: hidden;
  width: 950px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  position: absolute;
  top: 295px;
  opacity: 0;
  z-index: 5;
}
.exp .band h2 {
  position: relative;
  font-size: 3rem;
  font-family: "Comfortaa", cursive;
  color: #39473f;
  z-index: 5;
  text-shadow: 0 0 10px white;
}
.exp .band img {
  position: absolute;
  transform: scale(0.6);
  animation: band_img 0.5s infinite alternate;
}
.exp .exp_block_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.exp .exp_block_container * {
  font-family: "Comfortaa", cursive;
}
.exp .exp_block_container .exp_block {
  width: 330px;
  height: 400px;
  background-color: #dcffea;
  border-radius: 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 50px 20px 30px 20px;
  opacity: 0;
  overflow: hidden;
}
.exp .exp_block_container .exp_block h3 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}
.exp .exp_block_container .exp_block .time {
  font-size: 1.3rem;
  margin-bottom: 115px;
}
.exp .exp_block_container .exp_block .descr {
  padding: 0 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
}
.exp .exp_block_container .exp_block .descr p {
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.5rem;
}

@keyframes band_img {
  0% {
    transform: scale(0.65);
  }
}
@keyframes exp_h1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes band {
  0% {
    opacity: 0;
    width: 1100px;
  }
  33.3% {
    opacity: 1;
    width: 1100px;
  }
  50% {
    opacity: 1;
    width: 1100px;
  }
  100% {
    opacity: 1;
  }
}
@keyframes exp_block {
  0% {
    opacity: 0;
    height: 0;
    margin-top: 150px;
  }
  100% {
    opacity: 1;
  }
}
@keyframes time {
  0% {
    margin-bottom: -50px;
  }
}
.hobby .b_container > div > div {
  background-color: #dcffea;
  border-radius: 10px;
  width: 50px;
  height: 50px;
}

.hobby .b_container > div, .hobby .b_container {
  gap: 7px;
}

.hobby {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}
.hobby h1 {
  color: #39473f;
  font-size: 5rem;
  position: absolute;
  line-height: 4rem;
  left: 867px;
  top: 200px;
  opacity: 0;
}
.hobby .b_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hobby .b_container > div > div {
  opacity: 0;
  overflow: hidden;
  position: relative;
  display: flex;
}
.hobby .b_container > div > div .bg_img_container {
  width: 250px;
  height: 250px;
  align-self: center;
  justify-self: center;
  position: relative;
}
.hobby .b_container > div > div .bg_img_container .bg_img {
  position: absolute;
  transform: scale(0.5);
  transform-origin: left top;
  top: -150px;
}
.hobby .b_container > div > div .hobby_icon {
  width: 200px;
  position: absolute;
  margin: 15px;
  transition: all 0.7s;
  filter: brightness(170%);
}
.hobby .b_container > div > div .descr {
  font-family: "Comfortaa", cursive;
  color: #5e7368;
  padding: 10px;
  line-height: 1.2rem;
  transition: all 1s;
}
.hobby .b_container .top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  margin-left: -264px;
}
.hobby .b_container .top .b1 {
  width: 85px;
  height: 45px;
  margin-bottom: -60px;
  background-color: transparent;
}
.hobby .b_container .top .b2 {
  width: 200px;
  height: 150px;
  margin-bottom: -60px;
}
.hobby .b_container .top .b2 .hobby_icon {
  left: 70px;
  bottom: -100px;
}
.hobby .b_container .top .b2 .descr {
  margin-top: 7px;
  opacity: 0;
}
.hobby .b_container .top .b2:hover .hobby_icon {
  width: 50px;
  left: 0;
  bottom: 0;
  filter: brightness(100%);
}
.hobby .b_container .top .b2:hover .descr {
  opacity: 1;
}
.hobby .b_container .top .b3 {
  width: 75px;
  height: 170px;
  background-color: transparent;
}
.hobby .b_container .top .b4 {
  width: 320px;
  height: 110px;
}
.hobby .b_container .top .b4 .hobby_icon {
  right: 50px;
  top: -50px;
}
.hobby .b_container .top .b4 .descr {
  align-self: center;
  margin-right: 60px;
  opacity: 0;
}
.hobby .b_container .top .b4:hover .hobby_icon {
  width: 50px;
  right: 0;
  top: 0;
  filter: brightness(100%);
}
.hobby .b_container .top .b4:hover .descr {
  opacity: 1;
}
.hobby .b_container .mid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}
.hobby .b_container .mid .b1 {
  width: 360px;
  height: 140px;
}
.hobby .b_container .mid .b1 .hobby_icon {
  left: -50px;
  top: -100px;
}
.hobby .b_container .mid .b1 .descr {
  margin-left: 80px;
  align-self: center;
  opacity: 0;
}
.hobby .b_container .mid .b1:hover .hobby_icon {
  left: 0;
  top: 0;
  width: 50px;
  filter: brightness(100%);
}
.hobby .b_container .mid .b1:hover .descr {
  opacity: 1;
}
.hobby .b_container .mid .b2 {
  width: 270px;
  height: 200px;
}
.hobby .b_container .mid .b2 .hobby_icon {
  left: -50px;
  top: 50px;
}
.hobby .b_container .mid .b2 .descr {
  margin-top: 30px;
  margin-left: 30px;
  align-self: center;
  opacity: 0;
}
.hobby .b_container .mid .b2:hover .hobby_icon {
  width: 50px;
  left: 0;
  top: 0;
  filter: brightness(100%);
}
.hobby .b_container .mid .b2:hover .descr {
  opacity: 1;
}
.hobby .b_container .mid .b3 {
  width: 220px;
  height: 70px;
  background-color: transparent;
}
.hobby .b_container .mid .b4 {
  width: 230px;
  height: 120px;
  margin-bottom: -50px;
}
.hobby .b_container .mid .b4 .hobby_icon {
  right: 70px;
  bottom: 30px;
}
.hobby .b_container .mid .b4 .descr {
  margin-right: 60px;
  align-self: center;
  opacity: 0;
}
.hobby .b_container .mid .b4:hover .hobby_icon {
  width: 50px;
  right: 0;
  bottom: 0;
  filter: brightness(100%);
}
.hobby .b_container .mid .b4:hover .descr {
  opacity: 1;
}
.hobby .b_container .bot {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-left: -114px;
}
.hobby .b_container .bot .b1 {
  width: 80px;
  height: 80px;
  background-color: transparent;
}
.hobby .b_container .bot .b2 {
  width: 270px;
  height: 130px;
}
.hobby .b_container .bot .b2 .hobby_icon {
  right: 100px;
  top: 20px;
}
.hobby .b_container .bot .b2 .descr {
  margin-right: 60px;
  align-self: center;
  opacity: 0;
}
.hobby .b_container .bot .b2:hover .hobby_icon {
  width: 50px;
  right: 0;
  top: 0;
  filter: brightness(100%);
}
.hobby .b_container .bot .b2:hover .descr {
  opacity: 1;
}
.hobby .b_container .bot .b3 {
  width: 90px;
  height: 190px;
  background-color: transparent;
}
.hobby .b_container .bot .b4 {
  width: 280px;
  height: 160px;
}
.hobby .b_container .bot .b4 .hobby_icon {
  left: 0;
  bottom: -100px;
}
.hobby .b_container .bot .b4 .descr {
  margin-left: 70px;
  align-self: center;
  opacity: 0;
}
.hobby .b_container .bot .b4:hover .hobby_icon {
  width: 50px;
  left: 0;
  bottom: 0;
  filter: brightness(100%);
}
.hobby .b_container .bot .b4:hover .descr {
  opacity: 1;
}

@keyframes bg_img_container {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes hobby_h1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes block_top_in {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes block_bot_in {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes block_left_in {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes block_right_in {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}
.contact * {
  padding: 0;
  margin: 0;
}
.contact h1 {
  position: relative;
  z-index: 5;
  font-size: 5rem;
  color: #39473f;
  position: absolute;
  opacity: 0;
  transform: translate(-22vw, calc(-10vw - 40px));
}
@media (max-width: 1200px) {
  .contact h1 {
    font-size: 6vw;
    transform: translate(-25vw, calc(-15vw - 0px));
  }
}
@media (max-width: 700px) {
  .contact h1 {
    font-size: 11vw;
    top: 20px;
    left: 15px;
    transform: translate(0, 0);
  }
}
@media (min-height: 1000px) and (max-width: 900px) {
  .contact h1 {
    font-size: 10vw;
    top: 20px;
    left: 50px;
    transform: translate(0, 0);
  }
}
.contact .contact_container {
  opacity: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: #dcffea;
  width: calc(32vw + 500px);
  height: calc(20vw + 90px);
  border-radius: 30px;
  margin-top: 30px;
}
@media (max-width: 1200px) {
  .contact .contact_container {
    width: calc(70vw + 150px);
    height: calc(30vw + 20px);
  }
}
@media (max-width: 700px) {
  .contact .contact_container {
    position: absolute;
    width: 32vh;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    top: 2.5vh;
    right: 15px;
  }
}
@media (min-height: 1000px) and (max-width: 900px) {
  .contact .contact_container {
    position: absolute;
    width: 32vh;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    top: 5vh;
    right: 12vw;
  }
}
.contact .contact_container * {
  font-family: "Comfortaa", cursive;
}
.contact .contact_container .email_address {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
}
@media (max-width: 700px) {
  .contact .contact_container .email_address {
    height: auto;
    padding-top: 20px;
  }
}
@media (min-height: 1000px) and (max-width: 900px) {
  .contact .contact_container .email_address {
    height: auto;
    padding-top: 20px;
  }
}
.contact .contact_container .email_address h2 {
  opacity: 0;
  text-align: right;
  font-size: 7.5vw;
  line-height: 7.5vw;
  color: #5e7368;
  margin: 10px;
  -webkit-user-select: text;
     -moz-user-select: text;
          user-select: text;
  transition: all 0.5s;
}
@media (max-width: 1200px) {
  .contact .contact_container .email_address h2 {
    font-size: calc(12vw - 40px);
    line-height: calc(12vw - 40px);
  }
}
@media (max-width: 700px) {
  .contact .contact_container .email_address h2 {
    font-size: 6vh;
    line-height: 6vh;
  }
}
@media (min-height: 1000px) and (max-width: 900px) {
  .contact .contact_container .email_address h2 {
    font-size: 6vh;
    line-height: 6vh;
  }
}
.contact .contact_container .email_address h2::-moz-selection {
  background-color: #f69337;
  color: #ffffff;
}
.contact .contact_container .email_address h2::selection {
  background-color: #f69337;
  color: #ffffff;
}
.contact .contact_container .email_address h2:hover {
  color: #e3ad7b;
}
.contact .contact_container .message_box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
@media (max-width: 700px) {
  .contact .contact_container .message_box {
    position: absolute;
    top: calc(20vh - 10px);
    right: 15vw;
  }
}
@media (min-height: 1000px) and (max-width: 900px) {
  .contact .contact_container .message_box {
    position: absolute;
    top: calc(15vh + 40px);
    right: 9vw;
  }
}
.contact .contact_container .message_box h3 {
  opacity: 0;
  color: #ff5c00;
  font-size: 1.8rem;
  margin-bottom: 5px;
}
@media (max-width: 1200px) {
  .contact .contact_container .message_box h3 {
    font-size: 1.4rem;
  }
}
@media (max-width: 700px) {
  .contact .contact_container .message_box h3 {
    font-size: 1.2rem;
    padding-right: 60px;
  }
}
@media (min-height: 1000px) and (max-width: 900px) {
  .contact .contact_container .message_box h3 {
    font-size: 1.8rem;
  }
}
.contact .contact_container .message_box .form_container {
  opacity: 0;
  position: relative;
  width: 370px;
  overflow: hidden;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
@media (max-width: 700px) {
  .contact .contact_container .message_box .form_container {
    width: 70vw;
    border-radius: 15px;
    padding: 5px;
  }
}
@media (min-height: 1000px) and (max-width: 900px) {
  .contact .contact_container .message_box .form_container {
    width: 60vw;
    border-radius: 25px;
    padding: 10px;
  }
}
.contact .contact_container .message_box .form_container .sended {
  position: absolute;
  width: calc(100% - 20px);
  height: calc(100% - 90px);
  top: 10px;
  background-color: #fff5ec;
  z-index: 5;
  border-radius: 20px;
  border: solid 3px #e66300;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 2.6rem;
  opacity: 0;
}
.contact .contact_container .message_box .form_container .sended .notice {
  color: #ff5c00;
  text-align: center;
  font-size: 1.5rem;
  opacity: 0;
  position: relative;
  z-index: 5;
}
.contact .contact_container .message_box .form_container .sended .smile_icon {
  width: 150px;
  margin-top: 10px;
  opacity: 0;
  position: relative;
  z-index: 5;
}
.contact .contact_container .message_box .form_container .sended .loading_icon {
  position: absolute;
  width: 50px;
}
.contact .contact_container .message_box .form_container form .submit, .contact .contact_container .message_box .form_container form .message, .contact .contact_container .message_box .form_container form .email, .contact .contact_container .message_box .form_container form .name {
  width: 100%;
  height: 60px;
  border-radius: 20px;
  border: solid 0px transparent;
  background-color: rgba(255, 255, 255, 0.7333333333);
  padding: 2px 0 0 20px;
  font-size: 1.2rem;
  font-weight: 700;
  color: #5e7368;
  transition: all 0.5s;
  caret-color: #8caa9a;
}
@media (max-width: 700px) {
  .contact .contact_container .message_box .form_container form .submit, .contact .contact_container .message_box .form_container form .message, .contact .contact_container .message_box .form_container form .email, .contact .contact_container .message_box .form_container form .name {
    height: 6vh;
    border-radius: 10px;
    font-size: 1rem;
    padding: 2px 0 0 10px;
  }
}
@media (min-height: 1000px) and (max-width: 900px) {
  .contact .contact_container .message_box .form_container form .submit, .contact .contact_container .message_box .form_container form .message, .contact .contact_container .message_box .form_container form .email, .contact .contact_container .message_box .form_container form .name {
    height: 6vh;
    border-radius: 15px;
    font-size: 1.4rem;
    padding: 2px 0 0 10px;
  }
}
.contact .contact_container .message_box .form_container form .submit:focus, .contact .contact_container .message_box .form_container form .message:focus, .contact .contact_container .message_box .form_container form .email:focus, .contact .contact_container .message_box .form_container form .name:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.9333333333);
}
.contact .contact_container .message_box .form_container form .submit::-moz-placeholder, .contact .contact_container .message_box .form_container form .message::-moz-placeholder, .contact .contact_container .message_box .form_container form .email::-moz-placeholder, .contact .contact_container .message_box .form_container form .name::-moz-placeholder {
  color: #5e7368;
  opacity: 0.7;
}
.contact .contact_container .message_box .form_container form .submit::placeholder, .contact .contact_container .message_box .form_container form .message::placeholder, .contact .contact_container .message_box .form_container form .email::placeholder, .contact .contact_container .message_box .form_container form .name::placeholder {
  color: #5e7368;
  opacity: 0.7;
}
.contact .contact_container .message_box .form_container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  z-index: 5;
  position: relative;
  width: 100%;
  height: 100%;
}
@media (max-width: 700px) {
  .contact .contact_container .message_box .form_container form {
    gap: 5px;
  }
}
@media (min-height: 1000px) and (max-width: 900px) {
  .contact .contact_container .message_box .form_container form {
    gap: 10px;
  }
}
.contact .contact_container .message_box .form_container form .message {
  height: 300px;
  padding-top: 20px;
  line-height: 1.5rem;
}
@media (max-width: 700px) {
  .contact .contact_container .message_box .form_container form .message {
    height: calc(50vh - 170px);
    padding-top: 8px;
  }
}
@media (min-height: 1000px) and (max-width: 900px) {
  .contact .contact_container .message_box .form_container form .message {
    height: calc(45vh - 220px);
    padding-top: 17px;
  }
}
.contact .contact_container .message_box .form_container form .submit {
  color: #ff5c00;
  font-size: 1.6rem;
  text-transform: uppercase;
  background-color: #fff5ec;
  transition: all 0.3s;
  border: solid 3px white;
  padding: 2px 0 0 0;
  transition: all 0.3s;
}
@media (max-width: 700px) {
  .contact .contact_container .message_box .form_container form .submit {
    font-size: 1rem;
  }
}
@media (min-height: 1000px) and (max-width: 900px) {
  .contact .contact_container .message_box .form_container form .submit {
    font-size: 1.6rem;
  }
}
.contact .contact_container .message_box .form_container form .submit:hover {
  border: solid 3px #e66300;
  font-size: 1.8rem;
}
.contact .contact_container .message_box .form_container form .submit:active {
  font-size: 1.6rem;
  transition: all 0.1s;
}
.contact .contact_container .message_box .form_container .form_background_img {
  position: absolute;
  animation: form_img 100s infinite linear;
}
@media (min-height: 1000px) and (max-width: 900px) {
  .contact .contact_container .message_box .form_container .form_background_img {
    animation: form_img_2 100s infinite linear;
  }
}
@keyframes form_img {
  0% {
    transform: rotate(0deg) scale(0.6);
  }
  100% {
    transform: rotate(-360deg) scale(0.6);
  }
}
@keyframes form_img_2 {
  0% {
    transform: rotate(0deg) scale(0.8);
  }
  100% {
    transform: rotate(-360deg) scale(0.8);
  }
}
.contact .contact_container .smp_box {
  position: relative;
  height: 100%;
  margin-bottom: 50px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
@media (max-width: 700px) {
  .contact .contact_container .smp_box {
    margin-bottom: 20px;
    height: auto;
  }
}
@media (min-height: 1000px) and (max-width: 900px) {
  .contact .contact_container .smp_box {
    margin-bottom: 20px;
    height: auto;
  }
}
.contact .contact_container .smp_box .icon_container {
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact .contact_container .smp_box .icon_container .icon {
  width: 40px;
  margin: 10px 20px;
  transition: all 0.3s;
}
@media (max-width: 1200px) {
  .contact .contact_container .smp_box .icon_container .icon {
    width: 35px;
    margin: 5px 15px;
  }
}
@media (max-width: 700px) {
  .contact .contact_container .smp_box .icon_container .icon {
    width: 30px;
    margin: 3px 15px;
  }
}
@media (min-height: 1000px) and (max-width: 900px) {
  .contact .contact_container .smp_box .icon_container .icon {
    width: 40px;
    margin: 10px 15px;
  }
}
.contact .contact_container .smp_box .icon_container .icon:hover {
  transform: scale(1.15);
}

@keyframes contact_h1 {
  0% {
    opacity: 0;
    transform: translate(0px, 0px);
    color: #ffffff;
  }
  30% {
    opacity: 1;
    transform: translate(0px, 0px);
    color: #ffffff;
  }
  100% {
    opacity: 1;
  }
}
@keyframes contact_container {
  0% {
    opacity: 0;
    width: 2000px;
    height: 120px;
    margin-top: 0px;
    background-color: #f69337;
  }
  50% {
    opacity: 1;
    width: 2000px;
    height: 120px;
    margin-top: 0px;
    background-color: #f69337;
  }
  100% {
    opacity: 1;
  }
}
@keyframes contact_form_container {
  0% {
    opacity: 1;
    margin-top: 1500px;
  }
  100% {
    opacity: 1;
  }
}
@keyframes contact_h3 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes contact_h3_move {
  100% {
    transform: translateY(-5px);
  }
}
@keyframes contact_h2 {
  0% {
    opacity: 0.4;
    transform: translateX(100%);
  }
  100% {
    opacity: 0.4;
    transform: translateX(0%);
  }
}
@keyframes contact_icon {
  0% {
    opacity: 1;
    transform: translateX(-150%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes contact_sended {
  0% {
    z-index: 6;
    opacity: 0;
  }
  5% {
    z-index: 6;
    opacity: 1;
  }
  90% {
    z-index: 6;
    opacity: 1;
  }
  100% {
    z-index: 5;
    opacity: 0;
  }
}
@keyframes contact_loading_icon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes contact_smile_icon {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes contact_notice {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.works {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}
.works * {
  padding: 0;
  margin: 0;
}
.works .scroll_sign {
  opacity: 0;
  position: absolute;
  left: 5vw;
  transform: translateY(-20px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  z-index: 5;
  border: solid 2px #5e7368;
  padding: 15px 5px;
  border-radius: 100px;
  transition: top 0.3s;
}
@media (max-width: 1200px) {
  .works .scroll_sign {
    transform: scale(0.9) translateY(-20px);
  }
}
@media (max-width: 700px) {
  .works .scroll_sign {
    transform: scale(0.7) translateY(-50px);
  }
}
@media (max-width: 500px) {
  .works .scroll_sign {
    transform: scale(0.6) translateY(-100px);
    left: 2vw;
  }
}
.works .scroll_sign * {
  background-color: #5e7368;
}
.works .scroll_sign .up {
  width: 30px;
  height: 0px;
  -webkit-clip-path: polygon(50% 0, 50% 0, 100% 100%, 0 100%);
          clip-path: polygon(50% 0, 50% 0, 100% 100%, 0 100%);
  animation: works_scroll_sign_up 0.5s alternate infinite;
  transition: opacity 0.3s, height 0.3s;
}
.works .scroll_sign .bar {
  width: 8px;
  height: 50px;
  border-radius: 100px;
}
.works .scroll_sign .down {
  width: 30px;
  height: 17px;
  -webkit-clip-path: polygon(0 0, 100% 0, 50% 100%, 50% 100%);
          clip-path: polygon(0 0, 100% 0, 50% 100%, 50% 100%);
  animation: works_scroll_sign_down 0.5s alternate infinite;
  transition: opacity 0.3s, height 0.3s;
}
.works .box_container {
  position: relative;
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 30px;
  overflow-y: hidden;
  padding: 5px 0;
}
@media (max-width: 500px) {
  .works .box_container {
    height: 100%;
    padding: 20px 0 5px 0;
    gap: 15px;
  }
}
.works .box_container * {
  font-family: "Comfortaa", cursive;
  color: #39473f;
}
.works .box_container::-webkit-scrollbar {
  display: none; /* Hide the scrollbar on webkit-based browsers */
}
.works .box_container .box {
  opacity: 0;
  position: relative;
  width: 72%;
  height: 35%;
  background-color: #dcffea;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 30px;
  transition: box-shadow 0.3s;
}
@media (max-width: 1200px) {
  .works .box_container .box {
    height: 45%;
  }
}
@media (max-width: 500px) {
  .works .box_container .box {
    height: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
.works .box_container .box:hover {
  box-shadow: 0px 0px 15px #e66300;
}
.works .box_container .box .left {
  position: relative;
  width: 10%;
  height: 100%;
  overflow: hidden;
  -webkit-clip-path: polygon(0 0, 100% 0, 30% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 30% 100%, 0 100%);
}
@media (max-width: 500px) {
  .works .box_container .box .left {
    height: 10%;
    width: 100%;
    -webkit-clip-path: none;
            clip-path: none;
  }
}
.works .box_container .box .left img {
  position: absolute;
  transform-origin: left top;
}
.works .box_container .box .left img:first-child {
  animation: works_box_left_img_right 30s infinite linear;
}
.works .box_container .box .left img:last-child {
  animation: works_box_left_img_left 30s infinite linear;
}
.works .box_container .box .mid {
  height: 100%;
  width: 55%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1200px) {
  .works .box_container .box .mid {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}
@media (max-width: 500px) {
  .works .box_container .box .mid {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}
.works .box_container .box .mid .left_text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 45%;
}
@media (max-width: 1200px) {
  .works .box_container .box .mid .left_text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35%;
    margin-top: 15px;
    gap: 20px;
  }
}
@media (max-width: 500px) {
  .works .box_container .box .mid .left_text {
    height: auto;
    width: 100%;
    margin: 0 0 20px 0;
    gap: 5px;
  }
}
.works .box_container .box .mid .left_text .no {
  font-size: 3rem;
  font-weight: 700;
}
@media (max-width: 1200px) {
  .works .box_container .box .mid .left_text .no {
    font-size: 2rem;
  }
}
@media (max-width: 700px) {
  .works .box_container .box .mid .left_text .no {
    font-size: 1.6rem;
  }
}
@media (max-width: 500px) {
  .works .box_container .box .mid .left_text .no {
    font-size: 1.2rem;
  }
}
.works .box_container .box .mid .left_text .box_title {
  font-size: 1.6rem;
  text-transform: capitalize;
  text-align: center;
  line-height: 2rem;
}
@media (max-width: 1200px) {
  .works .box_container .box .mid .left_text .box_title {
    font-size: 1.4rem;
    line-height: 1.6rem;
  }
}
@media (max-width: 700px) {
  .works .box_container .box .mid .left_text .box_title {
    font-size: 1.2rem;
    line-height: 1.4rem;
  }
}
@media (max-width: 500px) {
  .works .box_container .box .mid .left_text .box_title {
    font-size: 1.2rem;
    line-height: 1.2rem;
  }
}
.works .box_container .box .mid .desc {
  font-size: 1rem;
  padding: 0 10px 0 25px;
  line-height: 1.5rem;
  text-align: center;
  width: 55%;
}
@media (max-width: 1200px) {
  .works .box_container .box .mid .desc {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .works .box_container .box .mid .desc {
    font-size: 1rem;
    line-height: 1.2rem;
  }
}
.works .box_container .box .right {
  height: 100%;
  width: 35%;
  -webkit-clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
}
@media (max-width: 500px) {
  .works .box_container .box .right {
    height: 20%;
    width: 100%;
    -webkit-clip-path: none;
            clip-path: none;
  }
}
.works .box_container .box .right img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.works h1 {
  position: absolute;
  font-size: 5rem;
  color: #39473f;
  text-align: center;
  line-height: 5rem;
  opacity: 0;
  right: 3vw;
  bottom: 70px;
  z-index: 5;
}
@media (max-width: 1200px) {
  .works h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
}
@media (max-width: 700px) {
  .works h1 {
    font-size: 3rem;
    line-height: 3rem;
  }
}
@media (max-width: 500px) {
  .works h1 {
    font-size: 2.5rem;
    line-height: 2.5rem;
    bottom: 20px;
  }
}

@keyframes works_scroll_sign_up {
  0% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(2px);
  }
}
@keyframes works_scroll_sign_down {
  0% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(-2px);
  }
}
@keyframes works_box_left_img_right {
  0% {
    transform: scale(0.4) translateX(0);
  }
  50% {
    transform: scale(0.4) translateX(100%);
  }
  50.001% {
    transform: scale(0.4) translateX(-100%);
  }
  100% {
    transform: scale(0.4) translateX(0);
  }
}
@keyframes works_box_left_img_left {
  0% {
    transform: scaleX(-0.4) scaleY(0.4) translateX(0);
  }
  50% {
    transform: scaleX(-0.4) scaleY(0.4) translateX(-100%);
  }
  100% {
    transform: scaleX(-0.4) scaleY(0.4) translateX(-200%);
  }
}
@keyframes works_h1 {
  0% {
    opacity: 0;
    font-size: 7rem;
    line-height: 8rem;
    color: #f69337;
    transform: translate(50%, 50%);
    right: 50%;
    bottom: 50%;
  }
  30% {
    opacity: 1;
    font-size: 7rem;
    line-height: 8rem;
    color: #f69337;
    transform: translate(50%, 50%);
    right: 50%;
    bottom: 50%;
  }
  100% {
    opacity: 1;
  }
}
@keyframes works_box {
  0% {
    transform: translateX(-150%);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes works_scroll_sign {
  100% {
    opacity: 1;
  }
}
@keyframes works_box_container {
  100% {
    overflow-y: scroll;
  }
}
* {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Lora", serif;
  cursor: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
}/*# sourceMappingURL=index.css.map */